<% include partials/header %>

    <div class='container discover'>
        <div>
            <% if (type === 'discover') { %>
                <h3 class='header'>
                    <%=genre_name%> Genre &nbsp
                </h3>
                <h5 class='secondary-header'> Based On Popularity ↓ </h5>
            <% } else if (type === 'pop') { %>
                <h3 class='header'> Most Popular <%=media_type === 'movie' ? 'Movies' : 'TV Shows'%> &nbsp </h3>
            <% } else { %>
                <h3 class='header'> Top Rated <%=media_type === 'movie' ? 'Movies' : 'TV Shows'%> &nbsp</h3>
            <% } %>
        </div>
        <% data.results.forEach(data => { %>
            <div class='row item' id='<%= data.id %>' onmouseover='hoverPanelIn(<%= data.id %>)' onmouseout='hoverPanelOut(<%= data.id %>)'>
                <div class='col-lg-4 col-sm-6 left'>
                    <a href='/<%=media_type === 'movie' ? 'movie' : 'tv'%>/show/<%= data.id %>'><img class='poster' src='http://image.tmdb.org/t/p/w342<%=data.poster_path%>'></a>
                </div>
                <div class='col-lg-8 col-sm-6 content'>
                    <a class='fc-color' href='/<%=media_type === 'movie' ? 'movie' : 'tv'%>/show/<%= data.id %>'>
                        <h5 style='display: inline;'><%=media_type === 'movie' ? data.title : data.name%></h5>
                    </a>&nbsp
                    <h5 class='fc-color' style='display: inline;'>(
                        <%=media_type === 'movie' ? data.release_date.substring(0,4) : data.first_air_date.substring(0,4)%> )</h5>
                    <p class='user-score'>User Score&nbsp&nbsp&nbsp
                        <%=data.vote_average%>
                    </p>
                    <br>
                    <h6>Overview</h6>
                    <p style='color: #ffffff;'><%=data.overview.substring(0,250)%> ...</p>
                </div>
            </div>
            <hr class='bg-color' style='margin: 0'>
            <% }); %>
                <div style='text-align: center;'>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <% if (page !== 1) { %>
                        <a type="button" class="btn btn-outline-primary" href="<%=pathname%>?page=<%=page - 1%>">Prev</a>
                        <% } %>
                        <a type="button" class="btn btn-outline-primary" href="<%=pathname%>?page=<%=page + 1%>">Next</a>
                    </div>
                </div>
    </div>
    <% include partials/footer %>