<% include partials/header %>

    <div class='container' style='background-color: #001d26; padding-top: 12px; padding-bottom: 30px; padding-right: 15px;'>
        <div>
            <% if (type === 'discover') { %>
            <h3 style='display: inline-block;'>
                <%=genre_name%> Genre &nbsp</h3>
            <h5 style='color: #ffffff; display: inline-block; margin-bottom: 20px;'> Based On Popularity ↓ </h5>
            <% } else if (type === 'pop') { %>
                <h3 style='display: inline-block;'>
                    Most Popular TV Shows &nbsp</h3>
            <% } else { %>
                <h3 style='display: inline-block;'>
                    Top Rated TV Shows &nbsp</h3>
            <% } %>
        </div>
        <% data.results.forEach(data => { %>
            <div class='row' id='<%= data.id %>' style='padding: 10px; padding-right: 15px;' onmouseover='hoverPanelIn(<%= data.id %>)' onmouseout='hoverPanelOut(<%= data.id %>)'>
                <div class='col-lg-4 col-sm-6' style='border-top-left-radius: 4px; border-bottom-left-radius: 4px;'>
                    <a href='/tv/show/<%= data.id %>'><img class='poster' src='http://image.tmdb.org/t/p/w342<%=data.poster_path%>'></a>
                </div>
                <div class='col-lg-8 col-sm-6' style='padding-top: 50px; padding-left: 20px; border-top-right-radius: 4px; border-bottom-right-radius: 4px;'>
                    <h5>
                        <a style='color: #00c8ff;' href='/tv/show/<%= data.id %>'>
                            <%=data.name%>
                        </a>&nbsp (<%=data.first_air_date.substring(0,4)%> )
                    </h5>
                        <p style='color: #39FF14;'>User Score&nbsp&nbsp&nbsp
                            <%=data.vote_average%>
                        </p>
                        <br>
                        <h6>Overview</h6>
                        <p style='color: #ffffff;'>
                            <%=data.overview.substring(0,250)%> ...</p>
                </div>
            </div>
            <hr style='background-color: #00c8ff; margin: 0px;'>
            <% }); %>
                <div style='text-align: center;'>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <% if (type === 'discover') { %>
                            <% if (page !== 1) { %>
                            <a type="button" class="btn btn-outline-primary" href="/tv/discover/<%=genre_name%>/<%=genre_id%>?page=<%=page - 1%>">Prev</a>
                            <% }%>
                            <a type="button" class="btn btn-outline-primary" href="/tv/discover/<%=genre_name%>/<%=genre_id%>?page=<%=page + 1%>">Next</a>
                        <% } else if (type === 'pop') { %>
                            <% if (page !== 1) { %>
                                <a type="button" class="btn btn-outline-primary" href="/tv/discover/pop?page=<%= page - 1 %>">Prev</a>
                            <% } %>
                            <a type="button" class="btn btn-outline-primary" href="/tv/discover/pop?page=<%= page + 1 %>">Next</a>
                        <% } else { %>
                            <% if (page !== 1) { %>
                                <a type="button" class="btn btn-outline-primary" href="/tv/discover/top?page=<%= page - 1 %>">Prev</a>
                            <% } %>
                            <a type="button" class="btn btn-outline-primary" href="/tv/discover/top?page=<%= page + 1 %>">Next</a>
                        <% } %>
                    </div>
                </div>
    </div>
    <% include partials/footer %>