<% include partials/header %>
    <div class='container' style='background-color: #001d26; z-index: 1; padding-left: 0;padding-right: 0px;'>
        <div class='btn-group special' role='group' aria-label='Basic example' style='display:flex;'>
            <a
                    href='/movie'
                    class='btn btn-lg btn-outline-primary group <%= type === 'movie' ? 'active' : '' %>'
                    aria-pressed='true'
                    style='flex:1;  border-radius: 0; padding-top: 16px;'
            >
                <h4>Movies</h4>
            </a>
            <a
                    href='/tv'
                    class='btn btn-lg btn-outline-primary group <%= type === 'tv' ? 'active' : '' %>'
                    style='flex:1;  border-radius: 0px; padding-top: 16px;'
            >
                <h4>TV Shows</h4>
            </a>
        </div>
        <br>
        <div class='gallery'>
            <% genreNames.genres.forEach(({ id, name }) => { %>
                <div class='genretabs' id='<%=id%>' onmouseover='hoverGenreIn(<%=id%>)' onmouseout='hoverGenreOut(<%= id %>)'>
                    <% if (type === 'movie') { %>
                    <a href='/movie/discover/<%=name%>/<%=id%>?page=1'>
                        <img src='/images/<%=imageList[name]%>'>
                    </a>
                    <div class='link'>
                        <a href='/movie/discover/<%=name%>/<%=id%>?page=1' style='color: #ffffff;'>
                            <%=name%>
                        </a>
                    </div>
                    <% } else { %>
                    <a href='/tv/discover/<%=name%>/<%=id%>/1'>
                        <img src='/images/<%=imageList[name]%>'>
                    </a>
                    <div class='link'>
                        <a href='/tv/discover/<%=name%>/<%=id%>/1' style='color: #fff;'>
                            <%=name%>
                        </a>
                    </div>
                    <% } %>
                </div>
            <% }) %>
        </div>
    </div>

    <% include partials/footer %>