<% include partials/header %>


    <div class="container" style="background-color: #001d26; z-index: 1; padding-left: 0;padding-right: 0px;">
        <div class="btn-group special" role="group" aria-label="Basic example" style="display:flex;">
            <a href="/movie" class="btn btn-lg btn-outline-primary group
            <% if (type === 'movie') { %>
            active
            <% } %>
            " aria-pressed="true" style="flex:1;  border-radius: 0px;">
                <h4>Movies</h4>
            </a>
            <a href="/tv" class="btn btn-lg btn-outline-primary group
            <% if (type === 'tv') { %>
            active
            <% } %>
            " style="flex:1;  border-radius: 0px;">
                <h4>TV Shows</h4>
            </a>
        </div>
        <br>
        <div class="gallery">
            <% genreNames.genres.forEach(( genre ) => { %>
                <div class="genretabs" id="<%=genre.id%>" onmouseover="hovergenrein(<%=genre.id%>)" onmouseout="hovergenreout(<%= genre.id %>)">
                    <% if (type === 'movie') { %>
                    <a href="/index/discover/<%=genre.name%>/<%=genre.id%>/1"><img src="/images/<%=imageList[genre.name]%>"></a>
                    <div class="link">
                        <a href="/index/discover/<%=genre.name%>/<%=genre.id%>/1" style="color: #ffffff;">
                            <%=genre.name%>
                        </a>
                    </div>
                    <% } else { %>
                    <a href="/indextv/discover/<%=genre.name%>/<%=genre.id%>/1"><img src="/images/<%=imageList[genre.name]%>"></a>
                    <div class="link">
                        <a href="/indextv/discover/<%=genre.name%>/<%=genre.id%>/1" style="color: #fff;">
                            <%=genre.name%>
                        </a>
                    </div>
                    <% } %>
                </div>
            <% }) %>
        </div>
    </div>

    <% include partials/footer %>