<% include partials/header %>
<div class='container discover'>
    <div>
        <h3 class='header'>
            Search Results of &nbsp
        </h3>
        <h4 class='secondary-header'>
            <%=query%>
        </h4>
    </div>
    <% data.results.forEach(data => { %>
    <div class='row item' id='<%= data.id %>' onmouseover='hoverPanelIn(<%= data.id %>)' onmouseout='hoverPanelOut(<%= data.id %>)'>
        <div class='col-lg-4 col-sm-6 left'>
        <% if (data.media_type === 'movie') { %>
                <a href='/movie/show/<%= data.id %>'><img class='poster' src='http://image.tmdb.org/t/p/w342<%=data.poster_path%>'></a>
            </div>
            <div class='col-lg-8 col-sm-6 content'>
                <a class='fc-color' href='/movie/show/<%= data.id %>'>
        <% } else if(data.media_type === 'tv') { %>
                        <a href='/tv/show/<%= data.id %>'><img class='poster' src='http://image.tmdb.org/t/p/w342<%=data.poster_path%>'></a>
                    </div>
                    <div class='col-lg-8 col-sm-6 content'>
                        <a class='fc-color' href='/tv/show/<%= data.id %>'>
        <% } %>
                            <h5>
                                <%= data.media_type === 'movie' ? data.title : data.name%>
                        </a>&nbsp (
                        <% if(data.media_type === 'movie'){ %>
                        <%=data.release_date.substring(0,4)%>
                        <% } else if(data.media_type === 'tv'){ %>
                        <%=data.first_air_date.substring(0,4)%>
                        <% } %>)
                        </h5>
                        <p style='color: #39FF14;'>User Score&nbsp&nbsp&nbsp
                            <%=data.vote_average%>
                        </p>
                        <br>
                        <h6>Overview</h6>
                        <% if(data.media_type === 'movie' || data.media_type === 'tv'){ %>
                        <p style='color: #ffffff;'>
                            <%=data.overview.substring(0,250)%> ...</p>
                        <% } %>
                    </div>
            </div>
            <hr style='background-color: #00c8ff; margin :0px;'>
            <% }); %>
            <div style='text-align: center;'>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <% if (page !== 1) { %>
                        <a type="button" class="btn btn-outline-primary" href="/search/<%=page - 1%>?search=<%=query%>">Prev</a>
                    <% }%>
                    <a type="button" class="btn btn-outline-primary" href="/search/<%=page + 1%>?search=<%=query%>">Next</a>
                </div>
            </div>
    </div>
<% include partials/footer %>