<% include partials/header %>
<div class='container' style='background-color: #001d26; padding-top: 12px; padding-bottom: 30px; padding-right: 15px;'>
    <div>
        <h3 style='display: inline-block;'>
            Search Results of &nbsp
        </h3>
        <h4 style='color: #ffffff; display: inline-block; margin-bottom: 20px;'>
            <%=query%>
        </h4>
    </div>
    <% data.results.forEach(data => { %>
    <div class='row' style='padding: 10px; padding-right: 15px;' id='<%= data.id %>' onmouseover='hoverpanelin(<%= data.id %>)' onmouseout='hoverpanelout(<%= data.id %>)'>
        <% if (data.media_type=='movie') { %>
            <div class='col-lg-4 col-sm-6' style='border-top-left-radius: 4px; border-bottom-left-radius: 4px;'>
                <a href='/index/discover/<%= data.id %>/show'><img class='poster' src='http://image.tmdb.org/t/p/w342<%=data.poster_path%>'></a>
            </div>
            <div class='col-lg-8 col-sm-6 content' style='padding-left: 20px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; '>
                <a style='color: #00c8ff;' href='/index/discover/<%= data.id %>/show'>
        <% } else if(data.media_type=='tv') { %>
                    <div class='col-lg-4 col-sm-6'>
                        <a href='/indextv/discover/<%= data.id %>/show'><img class='poster' src='http://image.tmdb.org/t/p/w342<%=data.poster_path%>'></a>
                    </div>
                    <div class='col-lg-8 col-sm-6 content' style='padding-left: 20px;'>
                        <a style='color: #00c8ff;' href='/indextv/discover/<%= data.id %>/show'>
        <% } %>
                            <h5>
                                <% if(data.media_type=='movie'){ %>
                                <%=data.title%>
                                <% } else{ %>
                                <%=data.name%>
                                <% } %>
                        </a>&nbsp (
                        <% if(data.media_type=='movie'){ %>
                        <%=data.release_date.substring(0,4)%>
                        <% } else if(data.media_type=='tv'){ %>
                        <%=data.first_air_date.substring(0,4)%>
                        <% } %>)
                        </h5>
                        <p style='color: #39FF14;'>User Score&nbsp&nbsp&nbsp
                            <%=data.vote_average%>
                        </p>
                        <br>
                        <h6>Overview</h6>
                        <% if(data.media_type=='movie' || data.media_type=='tv'){ %>
                        <p style='color: #ffffff;'>
                            <%=data.overview.substring(0,250)%> ...</p>
                        <% } %>
                    </div>
            </div>
            <hr style='background-color: #00c8ff; margin :0px;'>
            <% }); %>
            <div style='text-align: center;'>
                <%if(page==1){%>
                    <% for(var i=parseInt(page);i<parseInt(page)+7;i++){%>
                    <a class='btn btn-sm btn-outline-primary' href='/index/search/<%=i%>?search=<%=query%>'>
                        <%=i%>
                    </a>
                    <%}%>
                <%} else if(page>1){%>
                    <% for(var i=parseInt(page)-1;i<parseInt(page)+6;i++){%>
                        <a class='btn btn-sm btn-outline-primary' href='/index/search/<%=i%>?search=<%=query%>'>
                            <%=i%>
                        </a>
                    <%}%>
                <%}%>
            </div>
    </div>
<% include partials/footer %>